In [1]:
import os
cwd = os.getcwd()
print(cwd)

d:\python_script

In [15]:
import pyodbc
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import xgboost as xgb

#from xgboost import XGBClassifier
#from xgboost import plot_importance
#from sklearn.model_selection import train_test_split

In [29]:
cnxn = pyodbc.connect(driver='{SQL Server}', server='10.11.48.12', database='FZSRD_BD',               
               trusted_connection='yes')

#sql = "SELECT * FROM v_henry_A_投資理財"
#sql = "SELECT * FROM [FZSRD_INTERN].[dbo].henry"
sql = "select UNINO,Action_Type_2 from cus_behavior_tag where Action_Date_YYYYMM='202008' and UNINO IN ('A1727654890','L1755085990')"

data=pd.read_sql(sql, cnxn)
print(data.columns)
cnxn.close()

Index(['UNINO', 'Action_Type_2'], dtype='object')

In [30]:
data.head(20)

         UNINO     Action_Type_2
0  A1727654890       TWD_入帳_薪資轉帳
1  A1727654890  LOGIN_MOBILE_APP
2  A1727654890     TWD_扣款_ATM 現金
3  L1755085990       TWD_扣款_火險保費
4  A1727654890     TWD_入帳_FXML入帳
5  L1755085990       TWD_入帳_網銀轉帳
6  L1755085990       TWD_扣款_放款本息
7  A1727654890       TWD_扣款_手機轉帳

In [32]:
df_dummy = pd.get_dummies(data, columns=['Action_Type_2'])

In [33]:
df_dummy

,UNINO,Action_Type_2_LOGIN_MOBILE_APP,Action_Type_2_TWD_入帳_FXML入帳,Action_Type_2_TWD_入帳_網銀轉帳,Action_Type_2_TWD_入帳_薪資轉帳,Action_Type_2_TWD_扣款_ATM 現金,Action_Type_2_TWD_扣款_手機轉帳,Action_Type_2_TWD_扣款_放款本息,Action_Type_2_TWD_扣款_火險保費
0,A1727654890,0,0,0,1,0,0,0,0
1,A1727654890,1,0,0,0,0,0,0,0
2,A1727654890,0,0,0,0,1,0,0,0
3,L1755085990,0,0,0,0,0,0,0,1
4,A1727654890,0,1,0,0,0,0,0,0
5,L1755085990,0,0,1,0,0,0,0,0
6,L1755085990,0,0,0,0,0,0,1,0
7,A1727654890,0,0,0,0,0,1,0,0

In [34]:
df_dummy.groupby('UNINO').sum()

,Action_Type_2_LOGIN_MOBILE_APP,Action_Type_2_TWD_入帳_FXML入帳,Action_Type_2_TWD_入帳_網銀轉帳,Action_Type_2_TWD_入帳_薪資轉帳,Action_Type_2_TWD_扣款_ATM 現金,Action_Type_2_TWD_扣款_手機轉帳,Action_Type_2_TWD_扣款_放款本息,Action_Type_2_TWD_扣款_火險保費
UNINO,,,,,,,,
A1727654890,1,1,0,1,1,1,0,0
L1755085990,0,0,1,0,0,0,1,1

In [59]:
df_dummy[[:,1:]].head(5)

SyntaxError: invalid syntax (<ipython-input-59-602da21d5fa6>, line 1)

In [47]:
data['Action_Type_2'].head(10).value_counts(ascending=True).head(200).to_frame()

                  Action_Type_2
TWD_入帳_薪資轉帳                   1
TWD_扣款_火險保費                   1
TWD_扣款_放款本息                   1
TWD_入帳_FXML入帳                 1
TWD_扣款_ATM 現金                 1
TWD_入帳_網銀轉帳                   1
TWD_扣款_手機轉帳                   1
LOGIN_MOBILE_APP              1

In [54]:
df_dummy_NON_ID = df_dummy.drop(["UNINO"],axis=1)

cn = df_dummy_NON_ID.columns.tolist()

for col in cn:
    display(df_dummy[col].sum())
    #df_dummy.groupby('UNINO').sum()
    #display(df_dummy_NON_ID[col].value_counts(ascending=True).head(5).to_frame())

1

1

1

1

1

1

1

1