In [ ]:
import os
cwd = os.getcwd()
print(cwd)

In [ ]:
# Load in our libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt


train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')

In [ ]:
train.info()

In [ ]:
train.head(2)

In [52]:



train["Name"].apply(lambda x: 1 if any(y in x for y in ("Master")) else 0)

#pd.isnull(df1)

0      1
1      1
2      1
3      1
4      1
      ..
886    1
887    1
888    1
889    1
890    1
Name: Name, Length: 891, dtype: int64

In [51]:

train['Sex_male'] = train['Sex'].map({'male':1, 'female':0})

##有無船倉號碼
train['Has_Cabin'] = train["Cabin"].isnull().apply(lambda x: 0 if x else 1)

##找出已婚太太
##Mrs(已婚太太-英) ##Mme(已婚太太-法) ##Lady(貴婦) ##the Countess(伯爵夫人)
##Ms(女士,婚姻不明或不願提及婚姻狀況)
train['Mrs'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Mrs","Mme","Ms","Countess","Lady")) else 0)

##Miss(小姐-英) ##Mlle(小姐-法)
train['Miss'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Miss","Mlle")) else 0)


##Master(小男孩)
train['Master'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Master")) else 0)

#Col(陸軍上校Colonel) #Major(少校) #Capt(上尉Captain)
train['Military_officer'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Capt","Col","Major")) else 0) 

##Dr(醫生,博士)
train['Dr'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Dr")) else 0)

##貴族['Nobleman'] #Sir(爵士) ##Lady(貴婦) ##the Countess(伯爵夫人)
#上流人士
train['Nobleman'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Sir","Countess","Lady")) else 0)

##Rev(牧師Reverend)
train['Rev'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Rev")) else 0)

##Mr(先生男士)
train['Mr'] = train["Name"].apply(lambda x: 1 if any(y in x for y in ("Mr.")) else 0)

train_dummy = pd.get_dummies(train, columns=['Embarked'])

In [ ]:
train_dummy.info()

In [ ]:
train_dummy.head(50)

In [50]:
cn = train_dummy.columns.tolist()
#ap_data_dummy.columns.tolist()

for col in cn:
    display(train_dummy[col].value_counts(ascending=True).head(5).to_frame())

     PassengerId
1              1
588            1
589            1
590            1
591            1

   Survived
1       342
0       549

   Pclass
2     184
1     216
3     491

                             Name
Reeves, Mr. David               1
Lefebre, Miss. Ida              1
Mitchell, Mr. Henry Michael     1
Moubarek, Master. Gerios        1
Gustafsson, Mr. Karl Gideon     1

        Sex
female  314
male    577

       Age
0.42     1
23.50    1
66.00    1
70.50    1
55.50    1

   SibSp
5      5
8      7
3     16
4     18
2     28

   Parch
6      1
4      4
3      5
5      5
2     80

                   Ticket
STON/O 2. 3101273       1
A/5. 851                1
368703                  1
C.A./SOTON 34068        1
65303                   1

         Fare
17.4000     1
14.1083     1
8.3625      1
9.8375      1
8.4583      1

     Cabin
C54      1
C50      1
E36      1
A26      1
A14      1

   Sex_male
0       314
1       577

   Has_Cabin
1        204
0        687

   Mrs
1  132
0  759

   Miss
1   184
0   707

   Master
1     891

   Military_officer
1                13
0               878

    Dr
0   41
1  850

   Nobleman
1         5
0       886

   Rev
0  120
1  771

    Mr
1  891

   Embarked_C
1         168
0         723

   Embarked_Q
1          77
0         814

   Embarked_S
0         247
1         644

In [ ]:
from sklearn import tree

plt.rcParams.update({
    'font.sans-serif':'Microsoft JhengHei', 
    'axes.unicode_minus':False})



#df_dummy_dna = df_dummy.dropna()
target = train["Survived"]

feature = train.drop(["PassengerId","Survived","Name","Sex","Ticket"],axis=1)

max_depth = 5
min_samples_split = 3

clf = tree.DecisionTreeClassifier(max_depth = max_depth, min_samples_split = min_samples_split, random_state = 1)
clf = clf.fit(feature, target)


feature_columns = list(feature.columns)
#cn = set(list(ap_label))